<article class="jumbotron">
	
	<header class="page-header">
		<h1>About <small><p>Sample eshop yii2</p></small></h1>
	</header>
	<section>
		<p>An example of joint use of the <a href="http://mustache.github.io/">Mustache</a> and <a href="http://yiiframework.com/">Yii</a> when developing web applications.</p>
		<p>This website is a sample code of <span class="label label-info">php</span>, <span class="label label-default">html5</span>,  <span class="label label-default">css3</span>. You can download source code and use it at their discretion.</p>
		<p>You can contact me by filling out the form <a href="/contact">Contact</a></p>
	</section>
	<aside>
		<p>The app contains the following components</p>
		<ul class="nav nav-pills nav-stacked">
				<li><a href="http://jquery.com/">JQuery</a></li>
				<li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
		</ul>
	</aside>
	<footer>
			<p>&copy; 2013 Artukh Sergey.</p>
	</footer>
</article>
