{{#captcha}}
	{{{captcha}}}
	<!--
    <span><button href="{{baseUrl}}/account/captcha?refresh=1" type="button" class="btn btn-default" name="refreshCaptcha" data-toggle="tooltip" data-placement="bottom" title="{{labels.refreshCode}}"><span class="glyphicon glyphicon-refresh"></span></button></span>
    -->
{{/captcha}}
{{^captcha}}
	<img id="captcha-image" src="{{captcha.url}}" alt="" />
	<span><button type="button" class="btn btn-default" name="refreshCaptcha">{{labels.refreshCode}}!</button></span>
{{/captcha}}
