<div class="panel panel-primary">
  <div class="panel-heading">{{model.name}} <small>{{#model.description}}* {{model.description}}{{/model.description}}</small>
  </div>
  <div class="panel-body">
	<div class="notice"></div>
	<div class="row content"></div>
	<div class="pager-holder"></div>
  </div>	
</div>

	    


			
		
