<h2><p class="top-title">Учётная запись(аккаунт)</p></h2>
<div class="alert alert-info"
	<small>
	<p>Если учётная запись уже есть, но Вы непомните свой пароль, то
	<a class="alert-link" href="{{baseUrl}}/account/forgotPassword">нажмите сюда</a>, чтобы восстановить пароль.
	</p></small>
</div>
<p><h3>Заполните форму регистрации</h3></p>
