<h1>Добро пожаловать {{ firstname }} {{ lastname }}</h1>
<p>
Благодарим Вас за регистрацию на {{appName}}!  Ваши входные данные(аккаунт):
</p>

<blockquote>
<table>
<tr>
	<td >Имя пользователя:</td>
	<td ><b>{{ username }}</b></td>
</tr>
<tr>
	<td >Пароль:</td>
	<td ><b>{{ password }}</b></td>
</tr>
</table>
</blockquote>

<p>
Теперь, чтобы продолжить использование сайта {{appName}}, <a href="/login">авторизуйтесь</a>.
</p>
