<nav class="navbar navbar-default-or- navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <!--img  src="/images/sample-eshop-a.png"-->
      <a href="/site/index" class="sample-eshop-logo">sample-eshop-logo</a>
	  <!--a class="navbar-brand" href="/site/index" id="doc_title">{{labels.brand}}</a--> 
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
         <li class="active"><a href="{{baseUrl}}"><i class="glyphicon glyphicon-home"></i> {{labels.home}}</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right" id="user-mi">
		<li class="dropdown" id="lang-mi">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{langs.current}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a class="navbar-link"  href="{{baseUrl}}/site/lang/en_US">{{langs.en_US}}</a></li>
                <li><a class="navbar-link"  href="{{baseUrl}}/site/lang/ru_RU">{{langs.ru_RU}}</a></li>
		      </ul>
        </li>  
		{{#authenticated}}
			<li class="dropdown" id="user-mi-logout-action">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a class="navbar-link"  href="{{baseUrl}}/account/password">{{labels.password}}</a></li>
                <li><a class="navbar-link"  href="{{baseUrl}}/account/settings">{{labels.settings}}</a></li>
				<li><a class="navbar-link" href="{{baseUrl}}/account/logout"><i class="glyphicon glyphicon-log-out icon-white"></i> {{labels.logout}}</a></li>
		      </ul>
            </li>
			
			<!--<li id="user-mi-logout"><a class="navbar-link" href="{{baseUrl}}/account/logout"><i class="glyphicon glyphicon-log-out icon-white"></i> {{username}} {{labels.logout}}</a></li>-->
		{{/authenticated}}
		{{^authenticated}}
			<li class="dropdown" id="user-mi-login-action">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a class="navbar-link"  href="{{baseUrl}}/account/signup">{{labels.signup}}</a></li>
                <li><a class="navbar-link"  href="{{baseUrl}}/account/forgotPassword">{{labels.forgotPassword}}</a></li>
		      </ul>
		      
            </li>
            <li><a class="navbar-link"  href="{{baseUrl}}/account/login"><i class="glyphicon glyphicon-log-in icon-white"></i> {{labels.login}}</a></li>
		{{/authenticated}}   
		<!--li><a class="navbar-link"  href="/">MyBlog</a></li-->
     </ul> 
    </div><!--/.nav-collapse -->
  </div>  
</nav>
