<div class="page-header">
  <h1>{{pageTitle}} <small> | what is the matter?</small></h1>
</div>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h3><i class="glyphicon glyphicon-exclamation-sign"></i> {{labels.errorPrompt}}</h3>
	<div id="alert-body">
		<h4 class="msg-header">{{labels.error}} {{code}}
			<small>
			{{#message}}<p class="msg-text">{{message}}</p>{{/message}}
			</small>
		</h4>
	</div>
</div>


