<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Добро пожаловать
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in-">
    <div class="panel-body">
		<h2> Добро пожаловать в MyMarket </h2>
		Привет и добро пожаловать в MyMarket! Это - домашняя страница, веб-мастеры,
		используйте эту область:
		<ul class="normal">
		<li>Обеспечивает основную карту места </li>
		<li>Рекламирует Ваши распивочные пункты </li>
		<li>клиенты Приветствия к Вашему сайту </li>
		<li>Делает полезные вещи </li>
		</ul>

		<p> Чтобы начать делать покупки, <a href="{{baseUrl}}{{routMarker}}/catalog"> идут в страницу посещения магазина </a>
		или купите на-особенном пункты с правой стороны от Вас. Ваша магазинная тележка
		всегда видимый на левой стороне Вашего экрана. Щелкните им, чтобы отредактировать
		содержание Вашей корзины или проверить.
     </div>
    </div>
  </div>
</div>
