<h2><p class="top-title">Login</p></h2>
<div class="alert alert-info"
	<small>
     <p>If you do not already have an account, please <a class="alert-link" href="{{baseUrl}}/account/signup">sign up for an account</a> now.

	<p>If you have an account but have forgotten your password, <a class="alert-link" href="{{baseUrl}}/account/forgotPassword">click here</a> to recover your password.

	<p>If you have do not wish to login yet, <a class="alert-link" href="{{baseUrl}}/">click here</a> to return to the home page.
	</small>
</div>
<p><h3>Please fill out the login form</h3></p>
