<h2><p class="top-title">Восстановление Пароля</p></h2>
  <div class="alert alert-info"
	<small>
     <p>Введите адрес своей электронной почты, чтобы восстановить Ваш пароль. Когда Вы перешлете
этот запрос, Ваш пароль будет изменен, и новый пароль будут выслан Вам по электронной почте.</p>
	

	<p>Если Вы не хотите делать это, Вы можете возвратиться к
	<a class="alert-link" href="{{baseUrl}}/login">форме входа</a> или
	<a class="alert-link" href="{{baseUrl}}/">на главную страницу</a>.
	</p>
	</small>
</div>
<p><h3>Пожалуйста, заполните форму восстановления</h3></p>
