<h1 class="text-center">Welcome</h1>
<p class="text-center">to the Sample Eshop Administrative menu!</p>

<pre class="bg-info">
Select the menu item to view or change data.
</pre>

<blockquote>
  <p>Whoops, looks like something went wrong. We do not need no thought control. And also we do not need no education.  I see you understand me my friend.</p>
  <footer>Is it all in all what you need?<cite title="Source Title">Teacher leave those kids alone.</cite></footer>
</blockquote>
