<h2><p class="top-title">Изменение пароля</p></h2>
  <div class="alert alert-info"
	<small>
     <p>Введите действующий и новый пароль  

	<p>Если Вы не желаете пока входить,
	<a class="alert-link" href="{{homeUrl}}{{routMarker}}">нажмите здесь</a>, чтобы вернуться на главную страницу.
	</small>
</div>
<p><h3>Заполните форму изменения пароля</h3></p>
