<h2><p class="top-title">Password Recovery</p></h2>
  <div class="alert alert-info"
	<small>
		<p>
			Your password has been sent to your email address, you should receive it
			shortly.  Thank you for using MyMarket.com!
		</p>

		<p>
			To continue using the system, please <a href="#login">login</a> now.
		</p>
	</small>
</div>
