/*
body {
  min-height: 2000px;
  padding-top: 70px;
}
*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  //margin-bottom: 60px;
}
footer- {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

footer {
	/*color: white;*/
	min-height: 160px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  //padding-right: 15px;
  //padding-left: 15px;
  padding: 0px 15px 0;
}

code {
  font-size: 80%;
}

.yii-logo {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 39px;
  background: url("../images/yii.png") no-repeat;
  background-size: 180px 39px;
} 

.mustache-logo {
  display: block;
  text-indent: -9999px;
  width: 180px;
  height: 39px;
  background: url("../images/mustache.png") no-repeat;
  background-size: 180px 39px;
} 

.sample-eshop-yii-logo {
  display: block;
  text-indent: -9999px;
  width: 240px;
  height: 50px;
  background: url("../images/sample-eshop-speed-2b-inv.png") no-repeat;
  background-size: 240px 50px;
} 

.sample-eshop-logo {
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 54px;
  background: url("../images/sample-eshop-speed-2.png") no-repeat;
  background-size: 150px 54px;
} 

.required{
	font-weight:bold;
	font-size: 160%;
}

/**/

.sidebar-nav {
    padding: 10px 0;
}

.content-part {
    padding: 10px 0;
}

@media (max-width: 767px) {
	.hidden-small {
		display:none;
	}
	
	.sidebar-nav {
		padding: 0;
	}
}


/*---------------------->%---------------------------------*/
.clicimg {
	margin:0px 25px 0 20px; 
}

.clicimg img {
  border:none;cursor:pointer;
  display:block;outline:0;
  height:auto;
}

.clicimg dl {display:none;}
.clicimg dl dd {
  background:#ccc;cursor:pointer;position:fixed;
  top:15%;bottom:5%;left:20%;right:20%;z-index:100;
  vertical-align:middle;
  width:600px;
  text-align:center;
}

.clicimg dl img {
  border:#ccc 1px solid;
  margin:4px auto;
  width:auto;
  height:90%;
}

.clicimg dt {
  background:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  position:fixed;
  top:0;
  left:0;z-index:1;
  width:100%;height:100%;
}

.clicimg :focus + dl,
.clicimg :active + dl {display:block;}
.clicimg dl:hover {display:block\0/;}

/*---------------------->%---------------------------------*/

.pager-holder {
  
}
