Welcome to the Sample Eshop Administrative menu!

<pre>
TERMS OF USAGE:
This file was written and developed by Ying Zhang (ying@zippydesign.com)
for educational and demonstration purposes only.  You are hereby granted the
rights to use, modify, and redistribute this file as you like.  The only
requirement is that you must retain this notice, without modifications, at
the top of your source code.  No warranties or guarantees are expressed or
implied. DO NOT use this code in a production environment without
understanding the limitations and weaknesses pretaining to or caused by the
use of these scripts, directly or indirectly. USE AT YOUR OWN RISK!
</pre>
