<h2><p class="top-title">Signup</p></h2>
<div class="alert alert-info"
	<small>
	<p>If you have an account but have forgotten your password,
	<a class="alert-link" href="{{baseUrl}}/account/forgotPassword">click here</a> to recover your password.
	</p></small>
</div>
<p><h3>Fill out registration form</h3></p>
