<h1>Welcome {{ firstname }} {{ lastname }}</h1>
<p>
Thank you for signing up with MyMarket!  Your account information is:
</p>

<blockquote>
<table>
<tr>
	<td >Username:</td>
	<td ><b>{{ username }}</b></td>
</tr>
<tr>
	<td >Password:</td>
	<td ><b>{{ password }}</b></td>
</tr>
</table>
</blockquote>

<p>
Please write these down in a safe place and please do not give your password
to anyone (not even to MyMarket staff!)
</p>

<p>
To continue using the system, please <a href="#login">login</a> now.
</p>
