<h2><p class="top-title">Заказ почтой</p></h2>
  <div class="alert alert-info"
	<small>
		<p>
			Ваш заказ был выслан по электронной почте, Вы должны будуте получить его вскоре. Благодарим Вас за использование {{appName}}!
		</p>

		<p>
			Ваш заказ будет действителен в течение суток, после чего будет удалён если Вы не подтвердите его путём нажатия на ссылку кода активации.
		</p>
	</small>
</div>
