	<div class="form-group">
		<!--label class="col-lg-2 control-label">{{labels.step}}</label-->
		<div class="col-lg-5">
			<p class="form-control-static bg-primary">{{labels.mailTitle}}</p>
		</div>
	</div>
		
{{> customer/detail}}

{{> mail/detail}}

{{> cart/table}}
