<h2><p class="top-title">Учётная запись(аккаунт)</p></h2>
<div class="alert alert-info">
	<small>
	<p>Если Вы непомните свой пароль, то
	<a class="alert-link" href="{{baseUrl}}{{routMarker}}account/forgotPassword">нажмите сюда</a>, чтобы восстановить пароль.

	<p>Если Вы не желаете пока входить,
	<a class="alert-link" href="{{homeUrl}}{{routMarker}}">нажмите здесь</a>, чтобы вернуться на главную страницу.
	</small>
</div>
<p><h3>Заполните форму учетной записи</h3></p>
