<h1 class="text-center">Добро пожаловать </h1>
<p class="text-center">в административное меню Sample Eshop!</p>

<pre class="bg-info">
Выберите пункт меню для просмотра или изменений данных.
</pre>

<blockquote>
  <p>Упс, похоже что-то пошло не так. Нам не нужно никакого контроля мыслей. А также нам не нужно никакого образования. Я вижу Вы понимаете меня, мой друг.</p>
  <footer>Это все, что Вам нужно? <cite title="Source Title">Учитель, оставь нас детей.</cite></footer>
</blockquote>


