{{> password/header}}

<div class="form-">
<form class="form-horizontal" role="form" method="post" action="{{action}}" id="{{form_id}}" name="{{formName}}">
  {{> form/header}}
  <div class="form-group">
    <label for="inputPassword" class="col-sm-3 control-label">{{labels.password}} <span class="required">*</span></label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="password" id="inputPassword" size=60 maxlength=32>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputNewPassword" class="col-sm-3 control-label">{{labels.newPassword}} <span class="required">*</span></label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="newPassword" id="inputNewPassword">
    </div>
  </div>

  <div class="form-group">
    <label for="inputConfirmPassword" class="col-sm-3 control-label">{{labels.confirmPassword}} <span class="required">*</span></label>
    <div class="col-sm-5">
      <input type="password" class="form-control" name="confirmPassword" id="inputConfirmPassword">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputVerifyCode" class="col-sm-3 control-label">{{labels.verifyCode}} <span class="required">*</span></label>
    <div class="col-sm-9">
		{{> _captcha}}
		<input type="text" class="form-control" name="verifyCode" id="inputVerifyCode" placeholder="{{labels.verifyCode}}">
		<div class="hint help-block">{{labels.captchaHelp}}</div> 
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default" name="sign-in">{{labels.submit}}</button>
	</div>
  </div>
</form>
</div><!-- form -->

