	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
			
			<div class="clicimg">
				<img tabindex="1" src="/images/product/small/{{model.img_file}}"></img>
				<dl>
					<dt></dt>
					<dd><img src="/images/product/norm/{{model.img_file}}"></img><p><h4>{{model.title}}</h4></p></dd>
				</dl>
			</div>
			<div class="caption">
				<h5><a href="{{baseUrl}}/catalog/productDetails/{{model.id}}">{{model.title}}</a></h5>
				<div>
				{{#button}}
					<button class="btn btn-primary add-to-cart" 
						data-toggle="tooltip" data-placement="top" title="{{labels.addToCart}}">
						<i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge"> {{model.price}}</span>
					</button> 
					<span class="pull-right"><button class="btn btn-default product-details" 
						data-toggle="tooltip" data-placement="top"  title="{{labels.productDetails}}">
						<i class="glyphicon glyphicon-paperclip"></i></button>
					</span>
				{{/button}}
				{{^button}}
				<a href="{{baseUrl}}/shopping/cartAdd/{{model.id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{labels.addToCart}}">
								<i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge"> {{model.price}}</span></a> 
				<span class="pull-right">
							<a href="{{baseUrl}}/catalog/productdetails/{{model.id}}" 
							class="btn btn-default" data-toggle="tooltip" data-placement="top"  title="{{labels.productDetails}}"><i class="glyphicon glyphicon-paperclip"></i></a>
				</span>
				{{/button}}
				</div>
			</div>
			
		</div>	
	</div>

			
		
