 <div class="alert alert-info"
	<small>
     <p>Заполните поля данными необходимыми для оформления заказа и его оплаты 

	<p>Если Вы не хотите этого, то можете сразу перейти в 
	<a class="alert-link" href="#shopping/catalog">каталог</a> или на
	<a class="alert-link" href="#">домашнюю страницу</a>.
	</small>
</div>
<p><h3>Пожалуйста заполните форму покупки(заказа)</h3></p>
