Hello {{username}} ! Thanks for using {{appName}}! 

Your new password is: 

{{password}}

You must follow this link to activate your new password:

{{activateLink}}

Have fun, and don't hesitate to contact us with your feedback.

The {{appName}} Team
https://{{baseUrl}} 

<!--Thanks Heroku!-->
