Здравствуйте, {{fullname}} !

Вы получили это письмо потому, что вы (либо кто-то, выдающий себя за вас) попросили регистрацию на сайте {{appName}}. Если вы не просили регистрацию, то не обращайте внимания на это письмо, если же подобные письма будут продолжать приходить, обратитесь к администратору.

В случае успешной активации вы сможете входить в систему, используя следующий пароль:

Парoль: {{password}}

Ваш логин (ник) для входа на форум: {{username}}

Прежде чем использовать новый пароль, вы должны его активировать. Для этого перейдите по ссылке:

{{activateLink}}

Вы сможете сменить этот пароль на странице редактирования профиля. Если у вас возникнут какие-то трудности, обратитесь к администратору.

-- 
{{appName}} администратор.
