<h2><p class="top-title">Вход на сайт</p></h2>
<div class="alert alert-info"
	<small>
     <p>Если Вы еще не зарегистрированы, то создайте новую 
	<a class="alert-link" href="{{baseUrl}}/account/signup">учётную запись (аккаунт)</a> прямо сейчас.

	<p>Если учётная запись уже есть, но Вы непомните свой пароль, то
	<a class="alert-link" href="{{baseUrl}}/account/forgotPassword">нажмите сюда</a>, чтобы восстановить пароль.

	<p>Если Вы не желаете пока входить,
	<a class="alert-link" href="{{baseUrl}}/">нажмите здесь</a>, чтобы вернуться на главную страницу.
	</small>
</div>
<p><h3>Заполните форму входа</h3></p>
