<form class="form-horizontal" action="" method="">
<div class="wizzard-step1 hidden">
	<h4>{{labels.step1}}</h4>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="customer">{{labels.customer}}</label>
		<div class="col-lg-5">
			<input type="text" class="form-control" name="customer" value="{{model.customer}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="contact">{{labels.contact}}</label>
		<div class="col-lg-5">
			<input type="text" class="form-control" name="contact" value="{{model.contact}}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="address">{{labels.address}}</label>
		<div class="col-lg-5">
			<textarea class="form-control" name="address"  cols="50" rows="3">{{model.address}}</textarea>
		</div>
	</div>
</div>	
	<!--
	<div class="form-group">
		<label class="col-lg-2 control-label" for="creditcard"><-?php echo  Yii::t('app','Credit Card')?></label>
		<div class="col-lg-5">
			<input type="text" class="form-control" name="creditcard" value="<-? stdlib::pv($creditcard) ?>">
		</div>
	</div>
	
	<div class="form-group">	
		<label class="col-lg-2 control-label" for="expiry"><-?php echo  Yii::t('app','Expiry')?></label>
		<div class="col-lg-5">
			<input type="text" class="form-control" name="expiry" value="<-?php echo  stdlib::pv($expiry) ?>">
			<span>(yy/mm)</span>
		</div>	
	</div>
    -->
<div class="wizzard-step2 hidden">    
	<h4>{{labels.step2}}</h4>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="address">{{labels.comments}}</label>
		<div class="col-lg-offset-2 col-lg-5">
			<textarea class="form-control" name="comments"  rows="5" value="{{model.comments}}"></textarea>
		</div>	
	</div>
</div>

<div class="wizzard-step3 hidden"> 
<h4>{{labels.step3}}</h4>
<blockquote>
	<table class="table">
	<tr>
		<td>{{labels.date}}</td>
		<td>{{date}}</td>
		<td width=25 nowrap></td>
		<td>{{labels.billTo}}</td>
		<td>{{model.customer}}</td>
	</tr>
	<tr>
		<td>{{labels.total}}</td>
		<td>{{cart.ftotal}}</td>
		<td></td>
		<td>{{labels.contact}}</td>
		<td>{{model.contact}}</td>
	</tr>
	<tr valign=top>
		<td colspan=3></td>
		<td>{{labels.address}}</td>
		<td>{{model.address}}</td>
	</tr>
	</table>
</blockquote>
</div>
<div class="wizzard-step4 hidden">
<h4>{{labels.step4}}</h4>
<blockquote>	
	<table class="table">
	<tr>
		<td>{{labels.product}}</td>
		<td align=right>{{labels.price}}</td>
		<td align=right>{{labels.qty}}</td>
		<td colspan=2 align=right>{{labels.total}}</td>
	</tr>
	
	{{#products}}
		<tr>
			<td>{{name}}</td>
			<td align=right>{{price}}</td>
			<td align=right>{{qty}}</td>
			<td>{{labels.valute}}</td>
			<td align=right>{{total}}</td>
		</tr>
	{{/products}}
	
	<tr>
		<td colspan=3></td>
		<td colspan=2><hr size=1></td>
	</tr>
	<tr>
		<td colspan=3 align=right>{{labels.subTotal}}</td>
		<td>{{labels.valute}}</td>
		<td align=right>{{cart.ftotal}}</td>
	</tr>
	<tr>
		<td colspan=3></td>
		<td colspan=2><hr size=1></td>
	</tr>
	<tr>
		<td colspan=3 align=right>{{labels.grandTotal}}</td>
		<td>{{labels.valute}}</td>
		<td align=right>{{cart.ftotal}}</td>
	</tr>
	</table>
</blockquote>
</div>
	
	<div class="form-group pull-right">
		<div class="col-lg-offset-2 col-lg-5">
			<button type="button" class="btn btn-default wizzard-prev hidden">{{labels.prev}}</button>
			<button type="button" class="btn btn-default wizzard-next hidden">{{labels.next}}</button>
			<button type="button" class="btn btn-default wizzard-finish hidden">{{labels.finish}}</button>
		</div>
	</div>
</form>
