<h2><p class="top-title">Change password</p></h2>
  <div class="alert alert-info"
	<small>
     <p>Enter old and new password</p>  
	</small>
</div>
<p><h3>Please fill out the password change form</h3></p>
