<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title-">{{labels.Order}}  <small>{{labels.operations}}</small></h4>
	</div>
	<ul class="list-group">
		<a class="list-group-item" href="#">{{labels.empty}}</a>
	</ul>	
</div>
