<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<h3><span class="glyphicon glyphicon-exclamation-sign"></span> Корзина покупок ПУСТА</h3>
	<div id="alert-body">
	<blockquote class=normal>
Пожалуйста попробуйте наш <a href="{{baseUrl}}">каталог покупок</a>, чтобы добавить товар в корзину.
</blockquote>
	</div>
</div>
